$primary-color-1: #1a0c33;
$primary-color-2: #3bc163;
$primary-color-3: #e55f25;
$primary-color-4: #9963c9;
$primary-heading-color-1: rgba(26, 12, 50, 0.9);
$primary-heading-color-2: rgba(26, 12, 50, 0.8);
$primary-description-color: rgba(26, 12, 51, 0.8);
$secondary-color-1: #f6f6f7;
$secondary-color-2: #e8ea3d;
$secondary-color-3: #cfcfd4;
$secondary-color-4: #220a3b;
$secondary-color-5: #00afb2;
$secondary-color-6: #aab200;
$text-color-1: #a1a6a9;
$text-color-1: #8e9194;
$text-color-1: #303030;
$accent-color-1: #ea5c05;
$accent-color-2: #2296f3;
$accent-color-3: #3bc163;
$accent-color-4: #f9413a;
$accent-color-5: #fdf5f0;
$accent-color-6: #eef7fd;
$accent-color-7: #ebfaef;
$accent-color-8: #fbeded;
$green-1: #a3cf62;
$green-2: #94c740;
$black-1: #26282a;
$black-2: #000000;
$grey-1: #8a8a8d;
$grey-2: #A09F9E;
$violet: #a867a9;
$violet-1: #ac4399;
$yellow: #ffe600;
$blue: #4678bc;
$background-color: #ffffff;
$font-family: acumin-pro, sans-serif;
$font-color: #ffffff;
$border-black: #F7F7F7;
$black: #202020;
$blue-1: #483D5B;