<template>
  <div>
    Step Two
    <buttons
      label="Back"
      v-on:childToParent="previousPage"
      class="p-button-text"
    />
  </div>
</template>

<script>
export default {
  name: "stepTwo",
  methods: {
    previousPage() {
      this.$emit("previous", { pageIndex: 1 });
    },
  },
};
</script>

<style></style>
