<template>
  <div>
    Step One
    <buttons label="Next" v-on:childToParent="nextPage" class="p-button-text" />
  </div>
</template>

<script>
export default {
  name: "stepOne",
  methods: {
    nextPage() {
      this.$emit("next", { pageIndex: 0 });
    },
  },
};
</script>

<style></style>
