<template>
 <div class="flex wrapper">
      <div class="sidebar hidden-sm-up">
          <Button icon="pi pi-bars" @click="visibleLeft = true" class="p-mr-2" />
          <Sidebar
           v-model:visible="visibleLeft"
           :baseZIndex="1000"
           :dismissable="true"
           :showCloseIcon="true"
            ariaCloseLabel="close"
               >
          <div class="lefto m-0">
          <div class="logo-section flex flex-row ">
          <div> <img src="../assets/logo.png" alt=""></div>
          <div> <img  src="../assets/nc.png" alt=""></div>
          <!-- <div><p class="text-white logo-text">NETWORK</p>
          <p class="text-white logo-text"> COURIER</p></div> -->
         </div>
         <div class="flex flex-column">
                <div v-for="con in content" :key="con.id" class="footer-sub-item-list">
      <nuxt-link
        :to="con.path"
        :alt="con.title"
        class="footer-sub-item-list"
      > <p class="text-white section-text"> <i :class="`${con.icon} m-2`"></i>{{con.title}}</p></nuxt-link>
    </div>
            
             
           </div>
          </div>
        </Sidebar>
      </div>
      <div class="md:col-4 sm:col-2 lg:col-3 xl:col-2 lefto m-0 hidden-sm-down">
          <div class="logo-section flex flex-row ">
          <div> <img class="flex align-items-center justify-content-center m-3" src="../assets/logo.png" alt=""></div>
          <div> <img class="flex align-items-center justify-content-center mt-3 mr-0" src="../assets/nc.png" alt=""></div>
          <!-- <div><p class="text-white logo-text">NETWORK</p>
          <p class="text-white logo-text"> COURIER</p></div> -->
         </div>
         <div class="flex flex-column">
                <div v-for="con in content" :key="con.id" class="footer-sub-item-list">
      <nuxt-link
        :to="`/Dashboard/${con.path}`"
        :alt="con.title"
        class="footer-sub-item-list"
      > <p class="text-white section-text"> <i :class="`${con.icon} m-2`"></i>{{con.title}}</p></nuxt-link>
    </div>
            
           
           </div>
          </div>
      <div class="col-10 flex justify-content-center align-items-center">
          
          <Basics />
      </div>
  </div>
   <!-- <h2>User {{ $route.params.id }}</h2>
      <router-view></router-view> -->
</template>
<script>
import Sidebar from 'primevue/sidebar';
import Button from 'primevue/button';
import Basics from "../components/Basics.vue"

export default {
name:"Dashboard",
components:{Sidebar , Button , Basics},

data(){
    return {
         visibleLeft: false,
        content: [
           
            {id:"1" , title:"Dashboard" , icon:"pi pi-th-large" , path:"/dashboard"},
            {id:"2" , title:"Sales" , icon:"pi pi-money-bill" , path:"/sales"},
            {id:"3" , title:"Operations" , icon:"pi pi-globe" , path:"/operations"},
            {id:"4" , title:"Billing Management" , icon:"pi pi-book" , path:"/billing-management"},
            {id:"5" , title:"Purchase Request" , icon:"pi pi-bookmark" , path:"/purchase-request"},
            {id:"6" , title:"Asset Management" , icon:"pi pi-briefcase" , path:"/asset-management"},
            {id:"7" , title:"Fleet Management" , icon:"pi pi-compass" , path:"/fleet-management"},
            {id:"8" , title:"Warehouse Management" , icon:"pi pi-home" , path:"/warehouse-management"},
            {id:"9" , title:"CVL" , icon:"pi pi-wallet" , path:"/cvl"},
            {id:"10" , title:"Contact Management" , icon:"pi pi-credit-card" , path:"/contact-management"},
            {id:"11" , title:"HRMS" , icon:"pi pi-users" , path:"/hrms"},
            {id:"12" , title:"Settings" , icon:"pi pi-cog" , path:"/settings"},
            {id:"13" , title:"Users" , icon:"pi pi-user-edit" , path:"/users"},
        ]
    }
},
 

}
</script>

<style>
body {
    margin: 0;
}
::v-deep .p-component-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important; 
  width: 100% !important;
  height: 100% !important;
  background-color: aquamarine !important;
}
.wrapper {
    height: max-content;
}
.lefto{
    background-color: #204B8C;
}
.p-sidebar {
    background-color: #204B8C !important;
}
.p-button {
    background-color: #204B8C !important;
}
.logo-text {
    font-family: Heebo;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0.09em;
text-align: left;


}
.section-text {
   
/* font-family: Montserrat; */
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
cursor: pointer;
}
</style>