<template>
  <div>
    <h1>Design System</h1>

    <!--BUTTONS-->
    <div>
      <h1 style="text-align:start">Buttons</h1>

      <!--LARGE BUTTONS-->
      <div class="flex flex-column flex-wrap">
        <div class="flex  m-2">
          <p>Large</p>
        </div>

        <div class="flex  m-2">
          <div class="flex flex-row flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <buttons label="BUTTON" button_class="p-button-lg button-btn" />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-left"
                label="BUTTON"
                button_class="roundedButton p-button-lg"
                iconPos="left"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-right"
                label="BUTTON"
                button_class="roundedButton p-button-lg"
                iconPos="right"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-down"
                button_class="p-button-lg "
              />
            </div>
          </div>
        </div>

        <div class="flex  m-2">
          <div class="flex flex-row flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                label="BUTTON"
                button_class="p-button-lg p-button-outlined"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-left"
                label="BUTTON"
                button_class="roundedButton p-button-lg  p-button-outlined"
                iconPos="left"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-right"
                label="BUTTON"
                button_class="roundedButton p-button-lg p-button-outlined"
                iconPos="right"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-down"
                button_class="p-button-lg p-button-outlined "
              />
            </div>
          </div>
        </div>
      </div>

      <!--MEDIUM BUTTONS-->
      <div class="flex flex-column flex-wrap">
        <div class="flex  m-2">
          <p>Medium</p>
        </div>

        <div class="flex  m-2">
          <div class="flex flex-row flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <buttons label="BUTTON" button_class="p-button" />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-left"
                label="BUTTON"
                button_class="roundedButton p-button"
                iconPos="left"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-right"
                label="BUTTON"
                button_class="roundedButton p-button"
                iconPos="right"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons icon="pi pi-arrow-circle-down" button_class="p-button" />
            </div>
          </div>
        </div>

        <div class="flex  m-2">
          <div class="flex flex-row flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                label="BUTTON"
                button_class="p-button p-button-outlined"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-left"
                label="BUTTON"
                button_class="roundedButton p-button p-button-outlined"
                iconPos="left"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-right"
                label="BUTTON"
                button_class="roundedButton p-button p-button-outlined"
                iconPos="right"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-down"
                button_class="p-button p-button-outlined "
              />
            </div>
          </div>
        </div>
      </div>

      <!--SMALL BUTTONS-->
      <div class="flex flex-column flex-wrap">
        <div class="flex  m-2">
          <p>Small</p>
        </div>

        <div class="flex  m-2">
          <div class="flex flex-row flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <buttons label="BUTTON" button_class="p-button-sm" />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-left"
                label="BUTTON"
                button_class="roundedButton p-button-sm"
                iconPos="left"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-right"
                label="BUTTON"
                button_class="roundedButton p-button-sm"
                iconPos="right"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-down"
                button_class="p-button-sm "
              />
            </div>
          </div>
        </div>

        <div class="flex  m-2">
          <div class="flex flex-row flex-wrap">
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                label="BUTTON"
                button_class="p-button-sm p-button-outlined"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-left"
                label="BUTTON"
                button_class="roundedButton p-button-sm  p-button-outlined"
                iconPos="left"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-right"
                label="BUTTON"
                button_class="roundedButton p-button-sm p-button-outlined"
                iconPos="right"
              />
            </div>
            <div class="flex align-items-center justify-content-center m-2">
              <buttons
                icon="pi pi-arrow-circle-down"
                button_class="p-button-sm p-button-outlined "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--BUTTONS-->

    <!--CHECK-BOXES-->
    <div>
      <h1 style="text-align:start">Input Fields</h1>
      <div class="flex flex-row flex-wrap">
        <div
          class="flex flex-column align-items-center justify-content-center m-3"
        >
          <!--input field, ps:give type as number for number input field-->

          <InputTextField
            id="input-field"
            placeholder="Default..."
            value=""
            type="text"
            classes="inputfield w-full p-inputtext-lg m-2"
          />

          <InputTextField
            id="input-field"
            placeholder="Disabled..."
            value=""
            type="text"
            classes="inputfield w-full p-inputtext-lg m-2"
            disabled="disabled"
          />

          <InputTextField
            id="input-field"
            placeholder="Error..."
            value=""
            type="text"
            classes="p-invalid w-full p-inputtext-lg m-2"
          />
          <InputTextField
            id="input-field"
            placeholder="No border..."
            value=""
            type="text"
            classes="p-no-border w-full p-inputtext-lg m-2"
          />
          <InputTextField
            id="input-field"
            placeholder="Success..."
            value=""
            type="text"
            classes="p-success w-full p-inputtext-lg m-2"
          />
        </div>
        <!--second-->
        <div class="m-3 p-grid p-fluid">
          <!--input field, ps:give type as number for number input field-->
          <div class="flex flex-column m-3">
            <label class="required text-left m-1" for="username2">Name</label>
            <InputTextField
              id="username2"
              type="username"
              placeholder="Enter Name..."
              aria-describedby="username2-help"
              classes="inputfield w-full p-inputtext-lg"
            />
          </div>
          <div class="flex flex-column m-3">
            <label class="required text-left m-1 basic" for="username2"
              >Password</label
            >
            <PassWord value="" :toggleMask="true" :feedback="false" />
          </div>
          <div class="flex flex-column m-3">
            <label class="required text-left m-1" for="username2"
              >Repeat Password</label
            >
            <PassWord value="" :toggleMask="true" :feedback="false" />
          </div>

          <div class="flex flex-column m-3">
            <label class="required text-left m-1" for="username2">Title</label>
            <InputTextField
              id="username2"
              type="text"
              placeholder="Search for a location..."
              aria-describedby="username2-help"
              classes="inputfield w-full p-inputtext-lg"
            />
          </div>

          <div class="flex flex-column m-3">
            <label class="required text-left m-1" for="username2">Title</label>
            <InputTextField
              id="username2"
              type="username"
              placeholder="Search for a location..."
              aria-describedby="username2-help"
              classes="inputfield w-full p-inputtext-lg"
            />
          </div>
        </div>

        <!--third-->
        <div
          class="flex flex-column align-items-center justify-content-center m-3"
        >
          <!--input field, ps:give type as number for number input field-->
          <div class="flex flex-column m-3">
            <label class="required text-left" for="input-field"
              >Choose a user name*</label
            >
            <InputTextField
              id="input-field"
              placeholder="Enter name..."
              label="Choose a user name"
              value=""
              type="text"
              classes="inputfield  p-inputtext-lg m-2"
            />
            <small id="username2-help" class="p-success-text text-left"
              ><i class="pi pi-check-circle"></i> Username is available</small
            >
          </div>

          <div class="flex flex-column m-3">
            <label class="required text-left" for="username2"
              >Enter your email *</label
            >
            <InputTextField
              id="username2"
              type="email"
              placeholder="Enter email..."
              aria-describedby="username2-help"
              classes="inputfield  p-inputtext-lg  m-3"
            />
            <small id="username2-help" class="p-error text-left">
              <i class="pi pi-info-circle"></i> Enter a valid email
              address</small
            >
          </div>
        </div>
        <!--second-->
        <div class="m-5 p-grid p-fluid">
          <!--input field, ps:give type as number for number input field-->
          <div class="flex flex-column m-3">
            <div class="p-inputgroup">
              <buttons icon="pi pi-user" class="p-button-success" />
              <InputTextField
                id="username2"
                type="username"
                placeholder="Select a Member..."
                aria-describedby="username2-help"
                classes="inputfield w-full p-inputtext-lg"
              />
              <buttons icon="pi pi-chevron-down" class="p-button-success" />
            </div>
          </div>

          <div class="flex flex-column m-3">
            <div class="p-inputgroup">
              <buttons icon="pi pi-search" class="p-button-success" />
              <InputTextField
                id="username2"
                type="username"
                placeholder="Search for a location..."
                aria-describedby="username2-help"
                classes="inputfield w-full p-inputtext-lg"
              />
            </div>
          </div>

          <div class="flex flex-column m-3">
            <div class="p-inputgroup">
              <InputTextField
                id="username2"
                type="username"
                placeholder="Search for a location..."
                aria-describedby="username2-help"
                classes="inputfield w-full p-inputtext-lg"
              />
              <buttons icon="pi pi-search" class="p-button-success" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--TEXT AREA-->
    <div>
      <div
        class="flex flex-row flex-wrap align-items-start justify-content-center m-5"
      >
        <h1 style="text-align:start">Text area</h1>
        <div class="flex flex-column m-5">
          <TextArea rows="5" cols="30" value="" :autoResize="false" />
        </div>
        <div class="flex flex-column m-5">
          <label for="text-area" class="text-left m-1">Your Message</label>
          <TextArea
            classes=""
            id="text-area"
            rows="5"
            cols="30"
            value=""
            :autoResize="false"
          />
        </div>
        <div class="flex flex-column m-5">
          <label for="text-area" class="text-left m-1">Your Message</label>
          <TextArea
            classes=""
            id="text-area"
            rows="5"
            cols="30"
            value=""
            :autoResize="false"
          />
          <small id="username2-help" class="text-left m-2 p-blue">
            <i class="pi pi-info-circle"></i> 34 Words Left</small
          >
        </div>
      </div>
    </div>

    <!--TEXT AREA -->
    <div
      class="flex flex-row flex-wrap align-items-start justify-content-center m-5"
    >
      <!--CHECK BOX-->
      <div>
        <h1 style="text-align:start">CHECK BOXES</h1>
        <div class="flex flex-column flex-wrap">
          <div class="flex  m-2">
            <CheckBox
              v-bind:categories="$store.state.normalCheckBox"
              :disable="false"
            />
          </div>
          <div class="flex  m-2">
            <CheckBox
              v-bind:categories="$store.state.disabledCheckBox"
              :disable="true"
            />
          </div>
          <div class="flex  m-2">
            <CheckBox
              v-bind:categories="$store.state.selectedCheckBox"
              :disable="false"
            />
          </div>
        </div>
      </div>

      <!--CHECK-BOXES-->

      <!--RADIO BUTTONS-->
      <div>
        <h1 style="text-align:start">RADIO BUTTONS</h1>
        <div class="flex flex-column flex-wrap">
          <div class="flex  m-2">
            <PrimeVueRadioButtons
              v-bind:radioButtonData="$store.state.normalRadio"
            />
          </div>
          <div class="flex  m-2">
            <PrimeVueRadioButtons
              v-bind:radioButtonData="$store.state.disabledRadio"
              disable="true"
            />
          </div>
          <div class="flex  m-2">
            <PrimeVueRadioButtons
              v-bind:radioButtonData="$store.state.selectedRadio"
            />
          </div>
        </div>
      </div>
      <!--RADIO BUTTONS-->

      <!--TOGGLE BUTTON-->
      <div>
        <h1 style="text-align:start">TOGGLES</h1>
        <div class="flex flex-column flex-wrap">
          <div class="flex  m-2">
            <PrimeVueToggle toggleLabel="OFF" :check="false" :disable="false" />
          </div>
          <div class="flex  m-2">
            <PrimeVueToggle toggleLabel="ON" :check="true" />
          </div>
          <div class="flex  m-2">
            <PrimeVueToggle
              toggleLabel="Disabled"
              :check="false"
              :disable="true"
            />
          </div>
        </div>
      </div>
      <!--TOGGLE BUTTON-->
    </div>
    <!--USERS MODULES-->
    <div
      class="flex flex-row flex-wrap align-items-start justify-content-center m-5"
    >
      <div class="flex flex-column col-3 m-4">
        <SearchInputField
          placeholder="Search by TrackingNo/ OrderNo"
          type="text"
          icon="pi pi-search"
          classes="inputfield w-full p-inputtext-sm p-fluid "
        />
      </div>
      <div class="flex flex-column">
        <!-- <tabMenu
          v-bind:tabMenuData="$store.state.tabMenuData"
          tabComponent="tabOne"
          tabtwoComponent="tabTwo"
        /> -->
        <div class="">
          <h5>tabs</h5>
          <TabView class="tab-class" ref="tabview1">
            <TabPanel
              class="tab-class color-bg-success"
              header="Network Courier"
            >
              <p>one</p>
            </TabPanel>
            <TabPanel header="Online Customer">
              <p>two</p>
            </TabPanel>
          </TabView>
        </div>
        <div class="tab-pane">
          <SelectButton
            :id="koko"
            class="tab-class"
            :style="{ color: pink }"
            v-model="value1"
            :options="options"
          />
        </div>
      </div>
    </div>

    <!--USERS MODULES-->
    <!--dialogs-->
     <div class="m-5" >
  
       <AddUserDialog />
       </div>
    <!--dialogs-->
  </div>
</template>

<script>
import SelectButton from "primevue/selectbutton";
import AddUserDialog from "../components/AddUserDialog.vue"
export default {
  name: "DesignSystem",
  components: { SelectButton , AddUserDialog },
  data() {
    return {
      value1: "Off",
      value2: null,
      value3: null,
      options: ["Network courier", "Online customer"],
    };
  },
};
</script>

<style scoped>
/* // @import '~@/assets/scss/main.scss';
// .button-btn {
//   background-color: $primary-color-2;
// } */
.p-success {
  border: 1.5px solid #18a957 !important;
}
.p-success-text {
  color: #18a957;
}
.p-no-border {
  border: none !important;
}
.p-blue {
  color: #357dea;
}
::v-deep #koko {
  background: red !important;
}
::v-deep .tab-class .p-button {
  color: #7e84a7 !important;
  background: #edf1f7 !important;
  outline: none !important;
  border: transparent !important;
   outline:0px !important;
  -webkit-appearance:none !important;
}
/* ::v-deep .tab-class .p-button:hover {
  background: #fff !important;
  color: #3869b3 !important;
} */
::v-deep .tab-class .p-button:focus  {
  background: #fff !important;
  color: #3869b3 !important;
  border: transparent !important;
  outline: none !important;
   outline:0px !important;
  -webkit-appearance:none !important;
}
/* .tab-pane {
  background: pink;
}
::v-deep .p-button-label {

  color: #3869b3 !important;
  height: 20px !important;
  width: 250px !important;
}
::v-deep .p-button-label:hover {
  color: #c8f32b !important;
}
::v-deep .p-button-label:focus {
  background-color: #bd9f4e42 !important;
  color: #fff;
} */
/* ::v-deep .p-button {
  background:teal !important;
  color: red !important;
} */
/* .basic{
  
font-family: Montserrat !important;

font-size: 16px !important;
font-style: normal !important;
font-weight: 700 !important;
line-height: 28px !important;
letter-spacing: 0px !important;
text-align: left !important;
color: #357DEA;

} */
</style>
