<template>
  <!-- <Table :Data="$store.state.TableData.products" /> -->
  <DataTables
    :tableData="$store.state.tableData"
    :tableColumns="$store.state.tableColumns"
/></template>

<script>
export default {
  name: "TableView",
};
</script>

<style></style>
