<template>
  <div>
    <!-- commiting a mutation -->
    <!-- <button @click="$store.commit('addItems')">add bread crumb</button> -->
    <!-- dispatching an action -->
    <!-- <button @click="$store.dispatch('addItemsDispatch')">
      add bread crumb
    </button> -->
    <!-- implementing a getter -->
    <!-- <button @click="$store.getters.modifyAddItems">
      modify bread crumb
    </button> -->

    <div class="flex flex-column flex-wrap ">
      <div class="flex align-items-center justify-content-center mr-2 m-5">
        <!--buttons component-->
        <buttons
          label="Button"
          icon="pi pi-pencil"
          button_class="roundedButton"
        />
      </div>
      <div class="flex align-items-center justify-content-center mr-2 m-5">
        <!--bread crumb component-->
        <PrimeVueBreadCrumb
          v-bind:home="$store.state.home"
          v-bind:items="$store.state.items"
        />
      </div>
      <div class="flex align-items-center justify-content-center mr-2 m-5">
        <!--dropdown component-->
        <PrimeVueDropDown
          id="drop-down"
          v-bind:data="$store.state.dropDownData"
          placeholder="drop-down"
          label="Drop-Down Component"
          value="name"
          :filter="true"
          v-on:childToParent="FormInput"
        />
      </div>
      <div class="flex align-items-center justify-content-center mr-2 m-5">
        <!--radio button component-->
        <PrimeVueRadioButtons
          v-bind:radioButtonData="$store.state.categories"
        />
      </div>
      <div class="flex align-items-center justify-content-center mr-2 m-5">
        <!--toggle component-->
        <div v-for="toggle of $store.state.toggleData" :key="toggle.type">
          <PrimeVueToggle v-bind:toggleLabel="toggle.type" :check="false" />
        </div>
      </div>
      <div class="flex align-items-center justify-content-center mr-2 m-5">
        <!--ratings component-->
        <ratings :stars="3" :readonly="false" :cancel="false" />
      </div>
      <div class="flex align-items-center justify-content-center mr-2 m-5">
        <!--buttons and dialogs component-->
        <buttons
          label="Show"
          icon="pi pi-external-link"
          v-on:childToParent="openDialog"
        />
        <dialogs
          :displayDialog="displayDialog"
          v-on:childToParent="closeDialog"
          dialogComponent="HelloWorld"
        />
      </div>
      <div class="flex align-items-center justify-content-center mr-2 m-5">
        <!--slider component-->
        <slider orientation="horizontal" :step="1" />
      </div>
      <!--input field, ps:give type as number for number input field-->
      <div class="flex  align-items-center justify-content-center m-5">
        <InputTextField
          id="input-field"
          placeholder="placeholder"
          label="Text input"
          value=""
          type="text"
          classes="inputfield w-full"
        />
      </div>
      <div class="flex  align-items-center justify-content-center m-5">
        <InputTextField
          id="input-field"
          placeholder="placeholder"
          label="Number input"
          value=""
          type="number"
          classes="inputfield w-full"
        />
      </div>
      <!--text area component-->
      <div class="flex  align-items-center justify-content-center m-5">
        <TextArea rows="5" cols="30" value="" :autoResize="false" />
      </div>
      <!--calendar component-->
      <div class="flex  align-items-center justify-content-center m-5">
        <CalendarField value="" />
      </div>
      <!--checkbox-->
      <div class="flex  align-items-center justify-content-center m-5">
        <CheckBox v-bind:categories="$store.state.checkboxData" />
      </div>
      <!--file upload-->
      <div class="flex  align-items-center justify-content-center m-5">
        <Fileupload />
      </div>
      <div class="flex  align-items-center justify-content-center m-5">
        <toastmessages
          severity="success"
          summary="Toast Alert"
          detail="message"
          :life="2000"
        />
      </div>
      <div class="flex  align-items-center justify-content-center m-5">
        <tabMenu
          v-bind:tabMenuData="$store.state.tabMenuData"
          tabComponent="tabOne"
          tabtwoComponent="tabTwo"
        />
      </div>
      <div class="flex  align-items-center justify-content-center m-5">
        <!--accordian component-->
        <accordion v-bind:accordionData="$store.state.accordionData" />
      </div>
      <div class="flex  align-items-center justify-content-center m-5">
        <!--pagination component-->
        <paginations
          :rows="10"
          :totalRecords="120"
          :rowsPerPageOptions="[10, 20, 30]"
        />
      </div>
    </div>
    <!--stepper component-->
    <div>
      <steps v-bind:stepperData="$store.state.stepperData" />
    </div>
    <!--tooltip-->
    <div class="flex  align-items-center justify-content-center m-5">
      <ToolTip />
    </div>

    <!--search input field-->
    <div class="m-5">
      <SearchInputField placeholder="Search" type="text" icon="pi pi-search" />
    </div>
    <!--toasters-->
    <div class="flex  align-items-center justify-content-center m-5">
      <Toaster />
    </div>
    <!--carousel-->
    <div class="flex  align-items-center justify-content-center m-5">
      <Carousels
        :carouselData="$store.state.carouselData"
        :responsiveOptions="$store.state.responsiveOptions"
      />
    </div>
    <!--Line chart--->
    <h3>Line chart</h3>
    <div class="flex  align-items-center justify-content-center m-5">
      <h5>Basic:</h5>
      <ChartTemplate
        Type="line"
        :Data="$store.state.LineChartData.basicData"
        :Options="$store.state.LineChartData.basicOptions"
      />
      <h5>Multi Axis:</h5>
      <ChartTemplate
        Type="line"
        :Data="$store.state.LineChartData.multiAxisData"
        :Options="$store.state.LineChartData.multiAxisOptions"
      />
      <h5>Line Styles:</h5>
      <ChartTemplate
        Type="line"
        :Data="$store.state.LineChartData.lineStylesData"
        :Options="$store.state.LineChartData.basicOptions"
      />
    </div>
    <!--bar chart-->
    <h3>Bar chart:</h3>
    <div class="flex  align-items-center justify-content-center m-5">
      <h5>Vertical:</h5>

      <ChartTemplate
        Type="bar"
        :Data="$store.state.BarChartData.basicData"
        :Options="$store.state.BarChartData.basicOptions"
      />

      <h5>Horizontal:</h5>

      <ChartTemplate
        Type="bar"
        :Data="$store.state.BarChartData.basicData"
        :Options="$store.state.BarChartData.horizontalOptions"
      />

      <h5>Multi Axis:</h5>

      <ChartTemplate
        Type="bar"
        :Data="$store.state.BarChartData.multiAxisData"
        :Options="$store.state.BarChartData.multiAxisOptions"
      />

      <h5>Stacked:</h5>

      <ChartTemplate
        Type="bar"
        :Data="$store.state.BarChartData.stackedData"
        :Options="$store.state.BarChartData.stackedOptions"
      />
    </div>
    <!--pie chart-->
    <h3>Pie chart</h3>
    <div class="flex  align-items-center justify-content-center m-5">
      <ChartTemplate
        Type="pie"
        :Data="$store.state.PieChartData.chartData"
        :Options="$store.state.PieChartData.lightOptions"
      />
    </div>
    <!--radar/composite chart-->
    <h3>radar/composite chart</h3>
    <div class="flex  align-items-center justify-content-center m-5">
      <ChartTemplate
        Type="radar"
        :Data="$store.state.RadarChartData.chartData"
        :Options="$store.state.RadarChartData.chartOptions"
      />
    </div>
    <!--circle/doughnut chart-->
    <h3>circle/doughnut chart</h3>
    <div class="flex  align-items-center justify-content-center m-5">
      <ChartTemplate
        Type="doughnut"
        :Data="$store.state.DoughnutChartData.chartData"
        :Options="$store.state.DoughnutChartData.lightOptions"
      />
    </div>
    <!--table-->
    <Table :Data="$store.state.TableData.products" />

    <!--multi select chip-->
    <MultiSelectChip
     :value="$store.state.MultiSelectChipData.selectedData"
    :options="$store.state.MultiSelectChipData.options"
    placeholder  ="select role"
     />
  </div>
</template>

<script>
export default {
  name: "templatePage",
  data: () => ({
    displayDialog: false,
    dialogComponent: "HelloWorld",
  }),
  methods: {
    openDialog() {
      this.$store.state.displayDialog = true;
    },
    closeDialog() {
      this.$store.state.displayDialog = false;
    },
    FormInput(input) {
      // console.log(input);
    },
  },
};
</script>

<style></style>
