<template>
 <div className="formgrid grid">
        <div className="field col-12 md:col-6">
        
            <label class="flex text-left m-1" for="username2">User Name <span class="required">*</span></label>
            <InputTextField
              id="username2"
              type="text"
              placeholder="Enter Name..."
              aria-describedby="username2-help"
              classes="inputfield w-full p-inputtext-lg"
            />
          </div>
           <div class="field col-12 md:col-6">
            <label class="flex text-left m-1" for="username2">User ID</label>
            <InputTextField
              id="username2"
              type="number"
              placeholder="Enter ID..."
              aria-describedby="username2-help"
              classes="inputfield w-full p-inputtext-lg"
            />
          </div>
 </div>
 <div className="formgrid grid">
        <div className="field col-12 md:col-12">
        
            <label class="flex text-left m-1" for="username2">User Role<span class="required">*</span></label>
            <!-- <InputTextField
              id="username2"
              type="text"
              placeholder="Enter Designation"
              aria-describedby="username2-help"
              classes="inputfield w-full p-inputtext-lg"
            /> -->
               <!--multi select chip-->
    <MultiSelectChip
     :value="$store.state.MultiSelectChipData.selectedData"
    :options="$store.state.MultiSelectChipData.options"
    placeholder  ="select role"
     classes="flex text-left inputfield w-full p-inputtext-lg"
     />
          </div>
  </div>
  <div className="formgrid grid">
        <div className="field col-12 md:col-12">
        
            <label class="flex text-left m-1" for="username2">Designation<span class="required">*</span></label>
            <InputTextField
              id="username2"
              type="text"
              placeholder="Enter Designation"
              aria-describedby="username2-help"
              classes="inputfield w-full p-inputtext-lg"
            />
          </div>
  </div>
            <div className="formgrid grid">
        <div className="field col-12 md:col-6">
            <label class="flex text-left m-1" for="username2">Contact Number <span class="required">*</span></label>
            <InputTextField
              id="username2"
              type="number"
              placeholder="Enter number"
              aria-describedby="username2-help"
              classes="inputfield w-full p-inputtext-lg"
            />
          </div>
            <div class="field col-12 md:col-6">
            <label class="flex text-left m-1" for="username2">Email Id<span class="required">*</span></label>
            <InputTextField
              id="username2"
              type="email"
              placeholder="Enter email id..."
              aria-describedby="username2-help"
              classes="inputfield w-full p-inputtext-lg"
            />
          </div>
            </div>
</template>

<script>
export default {
    name: "AddUserDialog"
}
</script>

<style>
.grid-system {
   
   
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 1.5rem;
}
</style>