<template>
  <div>
    <Accordion>
      <AccordionTab
        v-for="tab in accordionData"
        :key="tab.title"
        :header="tab.title"
      >
        <p>{{ tab.content }}</p>
      </AccordionTab>
    </Accordion>
  </div>
</template>

<script>
import Accordion from "primevue/accordion";
import AccordionTab from "primevue/accordiontab";
export default {
  name: "accordion",
  props: ["accordionData"],
  components: {
    Accordion,
    AccordionTab,
  },
};
</script>

<style></style>
