<template>
  <Button
    :type="type"
    :label="label"
    :icon="icon"
    :class="ButtonClass()"
    :badge="badge_value"
    :badgeClass="badge_icon"
    @click="EmitToParent"
    :iconPos="iconPos"
  />
</template>

<script>
import Button from "primevue/button";
export default {
  name: "buttons",
  props: [
    "label",
    "icon",
    "button_class",
    "badge_value",
    "badge_icon",
    "type",
    "iconPos",
  ],
  methods: {
    ButtonClass() {
      console.log(this.button_class);
      const classes = [];
      classes.push(this.button_class);
      return classes;
    },
    EmitToParent() {
      this.$emit("childToParent");
    },
  },
  components: {
    Button,
  },
};
</script>

<style>
.roundedButton {
  border-radius: 10px;
}
</style>
