<template>
  calender
  <Calendar v-model="value" />
</template>

<script>
import Calendar from 'primevue/calendar';
export default {
components : {Calendar},
//  data() {
//         return {
//             value: null
//         }
//     },
    props : ["value"]
}
  
</script>

<style>

</style>