<template>
    <div>
        <div class="card">
           
            <Chart :type="Type" :data="Data" :options="Options" />
        </div>
    </div>
</template>

<script>
import Chart from 'primevue/chart';

export default {
    name:"LineChart",
    components: {Chart},
    props:["Type" ,"Data" , "Options"]
}
</script>