<template>
  <!-- <div class="p-field-checkbox m-5">
    <p>Single:</p>
    <Checkbox id="city1" name="city" value="Chicago" v-model="cities" />
    <label for="city1">Chicago</label>
  </div>
  <br /> -->
  <!-- <p class="m-5">Multiple:</p> -->
  <div
    v-for="category of categories"
    :key="category.key"
    class="p-field-checkbox m-2"
  >
    <Checkbox
      :id="category.key"
      name="category"
      :value="category"
      :disabled="disable"
      v-model="selectedCategories"
    />
    <label :for="category.key">{{ category.name }}</label>
  </div>
</template>

<script>
import Checkbox from "primevue/checkbox";
export default {
  name: "CheckBox",
  components: { Checkbox },
  props: ["categories", "disable"],
  data() {
    return {
      checked: false,
      cities: [],
      // categories: [{name: 'Accounting', key: 'A'}, {name: 'Marketing', key: 'M'}, {name: 'Production', key: 'P'}, {name: 'Research', key: 'R'}],
      // selectedCategories
      selectedCategories: [],
    };
  },
  created() {
    if (this.categories[0].key == "s") {
      console.log(this.categories);
      // selectedCategories
      this.selectedCategories = this.categories;
    }
  },
};
</script>

<style></style>
