<template>
  <div>
    <Button
      icon="pi pi-ellipsis-v"
      type="button"
      @click="toggle"
      aria-haspopup="true"
      aria-controls="overlay_menu"
      class="p-button-rounded ml-2 mr-2 mt-4 updateButton"
    />
    <Menu id="overlay_menu" ref="menu" :model="items" :popup="true" />
  </div>
</template>

<script>
import Button from "primevue/button";
import Menu from "primevue/menu";
export default {
  name: "CustomSpeedDial",
  data() {
    return {
      items: [
        {
          label: "Edit",
          icon: "pi pi-fw pi-plus",
          command: () => this.$emit("editMethod"),
        },
        {
          label: "Delete",
          icon: "pi pi-fw pi-trash",
          command: () => this.$emit("deleteMethod"),
        },
      ],
    };
  },
  methods: {
    toggle(event) {
      this.$refs.menu.toggle(event);
    },
  },
  components: {
    Button,
    Menu,
  },
};
</script>

<style scoped>
.updateButton {
  background: white !important;
  border: white !important;
}
::v-deep .pi-ellipsis-v {
  color: black !important;
}
</style>
