<template>
  <DataTable
    :value="tableData"
    responsiveLayout="scroll"
    v-model:selection="rowSelect"
    v-model:filters="filters"
    filterDisplay="menu"
    :globalFilterFields="['Role']"
  >
    <Column selectionMode="multiple" headerStyle="width: 3em"></Column>
    <Column
      v-for="col of tableColumns"
      :field="col.field"
      :header="col.header"
      :key="col.field"
      :showFilterMenu="col.field == 'Role' ? true : false"
    >
      <template #body="slotProps">
        <!-- ACTIONS TEMPLATE -->
        <span v-if="col.header == 'Actions'" class="mr-2">
          <CustomSpeedDial v-on:editMethod="edit" v-on:deleteMethod="del" />
        </span>
        <!-- USERNAME TEMPLATE -->
        <span v-if="col.header == 'Username'" class="mr-2">
          <div class="flex flex-row flex-wrap">
            <div
              class="flex align-items-center justify-content-center mr-2 mt-4"
            >
              <AvatarLabel v-bind:label="slotProps.data[col.field].charAt(0)" />
            </div>
            <div class="flex align-items-center justify-content-center mt-4">
              {{ slotProps.data[col.field] }}
            </div>
          </div>
        </span>
        <!-- TEMPLATE : ACCESS LEVELS -->
        <span v-if="col.header == 'Access Level'" class="mr-2">
          <Badges
            :badgeData="badgeColorClasses(slotProps.data[col.field])"
            :accessLevel="slotProps.data[col.field]"
          />
        </span>
        <!-- TEMPLATE : EDIT ACCESS -->
        <span v-if="col.header == 'Act'" class="mr-2">
          <div
            class="flex flex-row flex-wrap"
            @click="editAccess(slotProps.data)"
          >
            <div
              class="flex align-items-center justify-content-center mr-2 mt-4"
            >
              <i class="pi pi-pencil"></i>
            </div>
            <div
              class="flex align-items-center justify-content-center editAccess mt-4"
            >
              Edit Access
            </div>
          </div>
        </span>
        <!-- TEMPLATE : STATUS -->
        <span v-if="col.header == 'Status'" class="mr-2">
          <span
            :class="slotProps.data[col.field] ? 'activeClass' : 'inactiveClass'"
            >{{ slotProps.data[col.field] ? "Active" : "Inactive" }}</span
          >
        </span>
        <span
          v-if="
            col.header != 'Access Level' &&
              col.header != 'Username' &&
              col.header != 'Status' &&
              col.header != 'Act'
          "
          :class="col.field"
          >{{ slotProps.data[col.field] }}</span
        >
      </template>
      <template #filter="{filterModel}"
        ><InputText
          type="text"
          v-model="filterModel.value"
          class="p-column-filter"
          placeholder="Search by Role"
      /></template>
    </Column>
  </DataTable>
</template>

<script>
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import { FilterMatchMode, FilterOperator } from "primevue/api";
import InputText from "primevue/inputtext";

export default {
  name: "DataTables",
  props: ["tableData", "tableColumns"],
  data: () => ({
    rowSelect: null,
    filters: null,
  }),
  methods: {
    edit() {
      alert("edited");
    },
    del() {
      alert("deleted");
    },
    editAccess(data) {
      for (var i in this.tableData) {
        for (var j in data) {
          if (j == "User Id") {
            if (this.tableData[i][j] == data[j]) {
              this.tableData[i]["Access Level"] = "2";
            }
          }
        }
      }
    },
    initilaizeFilters() {
      this.filters = {
        Role: {
          operator: FilterOperator.AND,
          constraints: [
            { value: null, matchMode: FilterMatchMode.STARTS_WITH },
          ],
        },
      };
    },
    badgeColorClasses(level) {
      var l = parseInt(level);
      var badgeColors = [
        { color: "default" },
        { color: "default" },
        { color: "default" },
        { color: "default" },
      ];
      for (var c = 0; c <= l - 1; c++) {
        badgeColors[c]["color"] = this.$store.state.badgeColors[c];
      }
      return badgeColors;
    },
  },
  components: {
    DataTable,
    Column,
    InputText,
  },
  created() {
    this.initilaizeFilters();
  },
};
</script>

<style scoped>
.activeClass {
  color: #17c079;
  font-weight: bold;
  font-size: 11px;
}
.inactiveClass {
  color: red;
  font-weight: bold;
  font-size: 11px;
}
.editAccess {
  color: #357dea;
  cursor: pointer;
  font-weight: bold;
  font-size: 11px;
}
::v-deep .pi-pencil {
  cursor: pointer;
  color: #357dea;
}
</style>
