<template>
  <Dialog
    header="Header"
    v-model:visible="$store.state.displayDialog"
    :style="{ width: '50vw' }"
  >
    <component v-bind:is="dialogComponent" class="tab"></component>
    <template #footer>
      <buttons
        label="No"
        icon="pi pi-times"
        v-on:childToParent="closeDialog"
        class="p-button-text"
      />
      <buttons
        label="Yes"
        icon="pi pi-check"
        v-on:childToParent="closeDialog"
      />
    </template>
  </Dialog>
</template>

<script>
import Dialog from "primevue/dialog";

export default {
  name: "dialogs",
  props: ["displayDialog", "dialogComponent"],
  methods: {
    closeDialog() {
      this.$emit("childToParent");
    },
  },
  components: {
    Dialog,
  },
};
</script>

<style></style>
