<template>
  
        <MultiSelect v-model="value" :options="options" optionLabel="name" :class="classes" :placeholder="placeholder" display="chip" />
</template>

<script>
import MultiSelect from 'primevue/multiselect';
export default {
  name: "MultiSelecetChip" ,
  components : {MultiSelect} ,
  props: ["value" , "options" , "placeholder" , "classes"]
}
</script>

<style>
::v-deep .p-multiselect-token{
    background-color:rgb(253, 11, 51) !important;
}
</style>