<template>
  <Paginator
    :rows="rows"
    :totalRecords="totalRecords"
    :rowsPerPageOptions="rowsPerPageOptions"
  ></Paginator>
</template>

<script>
import Paginator from "primevue/paginator";
export default {
  name: "paginations",
  props: ["rows", "totalRecords", "rowsPerPageOptions"],
  components: {
    Paginator,
  },
};
</script>

<style></style>
