<template>
   <Password v-model="value" :toggleMask="toggleMask" :feedback="feedback" />
</template>

<script>
import Password from 'primevue/password';
export default {
       name: "PassWord" ,
       components : {Password},
       props: ["value" , "toggleMask" , "feedback"]
}
</script>

<style>

</style>