<template>
  <span>
    <label class="required" :for="id">{{ label }}</label>
    <Dropdown
      :id="id"
      class="inputfield w-full"
      v-model="Selected"
      @change="$emit('update:modelValue', $event.value)"
      :options="data"
      optionLabel="name"
      :optionValue="value"
      :placeholder="placeholder"
      :filter="filter"
      :class="classes"
      :input="EmitToParent()"
    />
  </span>
</template>

<script>
import Dropdown from "primevue/dropdown";

export default {
  name: "PrimeVueDropDown",
  props: [
    "placeholder",
    "data",
    "v_model_value",
    "filter",
    "label",
    "id",
    "value",
    "classes",
    "modelValue",
  ],
  data: () => ({
    Selected: null,
    dropdown_name: null,
  }),
  methods: {
    EmitToParent() {
      var val;
      for (var i = 0; i < this.data.length; i++) {
        if (this.data[i][this.value] == this.Selected) {
          val = this.data[i][this.value];
        }
      }
      this.$emit("childToParent", [val, this.id]);
    },
  },
  components: {
    Dropdown,
  },
};
</script>

<style scoped></style>
