<template>
  <div>
    <label class="required">{{ toggleLabel }}</label>
    <InputSwitch
      v-model="checked"
      @input="EmitToParent($event, toggleLabel)"
      :disabled="disable"
    />
  </div>
</template>

<script>
import InputSwitch from "primevue/inputswitch";
export default {
  name: "PrimeVueToggle",
  props: ["toggleLabel", "check", "disable"],
  data: () => ({
    checked: false,
  }),
  methods: {
    EmitToParent(event, label) {
      console.log(event, label);
    },
  },
  components: {
    InputSwitch,
  },
  created() {
    console.log(this.check);
    this.checked = this.check;
  },
};
</script>

<style></style>
