<template>
  <div>
    <!-- <label>Radio-Button Component</label> -->
    <div
      v-for="category of radioButtonData"
      :key="category.key"
      class="p-field-radiobutton"
    >
      <RadioButton
        :id="category.key"
        name="category"
        :value="category"
        v-model="selectedCategory"
        :disabled="disable"
        @change="EmitToParent"
      />
      <label :for="category.key">{{ category.name }}</label>
    </div>
  </div>
</template>

<script>
import RadioButton from "primevue/radiobutton";
export default {
  name: "PrimeVueRadioButtons",
  props: ["radioButtonData", "disable"],
  data: () => ({
    selectedCategory: null,
  }),
  methods: {
    EmitToParent() {
      // console.log(this.selectedCategory.name);
    },
  },
  components: {
    RadioButton,
  },
  created() {
    if (this.radioButtonData[0].key == "s") {
      this.selectedCategory = this.radioButtonData[0];
    }
  },
};
</script>

<style></style>
