<template>
  <div>
    Bread Crumb Component
    <Breadcrumb :home="home" :model="items" />
  </div>
</template>

<script>
import Breadcrumb from "primevue/breadcrumb";

export default {
  name: "PrimeVueBreadCrumb",
  props: ["home", "items"],
  components: {
    Breadcrumb,
  },
};
</script>

<style></style>
