<template>
  <div>
    <label>ratings component</label>
    <Rating
      v-model="value"
      :readonly="readonly"
      :stars="stars"
      :cancel="cancel"
      @change="EmitToParent($event)"
    />
  </div>
</template>

<script>
import Rating from "primevue/rating";
export default {
  name: "ratings",
  props: ["readonly", "stars", "cancel"],
  data: () => ({
    value: null,
  }),
  methods: {
    EmitToParent(event) {
      //   console.log(event.value);
    },
  },
  components: {
    Rating,
  },
};
</script>

<style></style>
