<template>
    <h5 class="m-3">Search Input field</h5>
    
        <div class="p-input-icon-left">
            <i :class="icon" />
            <InputText :type="type" v-model="value3" :placeholder="placeholder" :class="classes" />
        </div>
</template>

<script>
import InputText from 'primevue/inputtext';
export default {
name: "SearchInputField",
components: {InputText},
props: ["placeholder" , "type" , "icon" , "classes" ] ,
}
</script>

<style>

</style>