<template>
  <Slider
    v-model="value"
    :orientation="orientation"
    :step="step"
    @change="EmitToParent"
  />
</template>

<script>
import Slider from "primevue/slider";
export default {
  name: "slider",
  props: ["orientation", "step", "range"],
  data: () => ({
    value: null,
  }),
  methods: {
    EmitToParent(event) {
      console.log(event);
    },
  },
  components: {
    Slider,
  },
};
</script>

<style scoped>
.p-slider-horizontal,
.p-inputtext {
  width: 14rem;
}
.p-slider-vertical {
  height: 14rem;
}
</style>
