<template>
  <div>
    <div class="card">
      <Steps :model="stepperData" :readonly="false" />
    </div>
    <!-- router components rendered here -->
    <router-view
      v-slot="{ Component }"
      @prevPage="prevPage($event)"
      @nextPage="nextPage($event)"
    >
      <!--keep alive : stores a cached reference to your component when it's not active
      no new instance has to be creatd when switching between components-->
      <keep-alive>
        <component
          v-on:next="nextPage"
          v-on:previous="prevPage"
          :is="Component"
        />
      </keep-alive>
    </router-view>
  </div>
</template>

<script>
import Steps from "primevue/steps";
export default {
  name: "steps",
  props: ["stepperData"],
  components: {
    Steps,
  },
  methods: {
    nextPage(event) {
      this.$router.push(this.$store.state.stepperData[event.pageIndex + 1].to);
    },
    prevPage(event) {
      this.$router.push(this.$store.state.stepperData[event.pageIndex - 1].to);
    },
  },
};
</script>

<style></style>
