
<template>
	<div>
            <div class="card">
            <DataTable :value="Data" responsiveLayout="stack" breakpoint="960px">
               
                <Column field="code" header="Code"></Column>
                <Column field="name" header="Name"></Column>
                <Column field="category" header="Category"></Column>
                <Column field="quantity" header="Quantity"></Column>
                <Column field="inventoryStatus" header="Status">
                    <template #body="slotProps">
                        <span :class="'product-badge status-' + (slotProps.data.inventoryStatus ? slotProps.data.inventoryStatus.toLowerCase() : '')">{{slotProps.data.inventoryStatus}}</span>
                    </template>
                </Column>
               
            </DataTable>
        </div>
	</div>
</template>

<script>
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';


export default {
    name:"Table",
    components: {DataTable , Column},
    props: ["Data"],

}
</script>                  

