<template>
  <div>
    <TabMenu
      :model="tabMenuData"
      :activeIndex="activeIndex"
      v-on:tab-change="tabChanged($event)"
    />
    <!-- router view can also be used - provided paths dont conflict -->
    <div v-for="(tabs, index) of tabMenuData" :key="tabs.label">
      <keep-alive>
        <component
          v-if="activeIndex == index"
          v-bind:is="tabs.tab"
          class="tab"
        ></component>
      </keep-alive>
    </div>
  </div>
</template>

<script>
import TabMenu from "primevue/tabmenu";
export default {
  name: "tabMenu",
  props: ["tabMenuData", "tabComponent", "tabtwoComponent"],
  data: () => ({
    activeIndex: 0,
  }),
  methods: {
    tabChanged(event) {
      this.activeIndex = event.index;
    },
  },
  // watch: {
  //   activeIndex: function() {
  //     alert("hi");
  //   },
  // },
  components: {
    TabMenu,
  },
};
</script>

<style></style>
