<template>
 
  <Textarea :class="classes" :id="id" v-model="value" :rows="rows" :cols="cols" :autoResize="autoResize" />
</template>

<script>
import Textarea from 'primevue/textarea';
export default {
name:"TextArea",
 components:{Textarea},
 props: [
     "rows" , "cols" , "value" , "autoResize" , "id" , "classes"
 ]
}
</script>

<style>

</style>