<template>
  <span class="">
       <!-- <label class="required text-left" :for="id">{{ label }}</label> -->
   
    <InputText
      :id="id"
      :type="type"
      v-model="value"
      :placeholder="placeholder"
      :class="classes"
      :disabled="disabled"
    />
  </span>
</template>

<script>
import InputText from "primevue/inputtext";

export default {
  name: "InputTextField",
  components: { InputText },
  props: [
    "placeholder",
    "label",
    "id",
    "value",
    "classes",
    "modelValue",
    "type",
    "disabled",
  ],
};
</script>

<style></style>
