<template>
  <div>
    <buttons
      label="Show Toast"
      v-on:childToParent="showToast"
      class="p-button-text"
    />
    <Toast position="center" group="tl" />
  </div>
</template>

<script>
import Toast from "primevue/toast";

export default {
  name: "toastmessages",
  props: ["severity", "summary", "detail", "life"],
  methods: {
    showToast() {
      this.$toast.add({
        severity: this.severity,
        summary: this.summary,
        detail: this.detail,
        life: this.life,
      });
    },
  },
  components: {
    Toast,
  },
};
</script>

<style></style>
